.loginsubmission {
    width: 208.9vh;
    height: 94.6vh;
    background-image: url('../../Images/loginregisterbackground.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.loginsubmission h1{
    margin-top: 30px;
}

.loginsubmission button{
    cursor: pointer;
}

.loginsubmission label{
    cursor: pointer;
}

.loginsubmitpart {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.loginsubmitpart label {
    margin-right: 10px; /* Add margin to the right of the label */
    margin-left: 10px;
}

.submitBtn{
    border-radius: 5px;
    border: 0;
    height: 5vh;
    width: 20vh;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffcc00;
}

.forgotBtn{
    border-radius: 5px;
    border: 0;
    height: 3vh;
    width: 20vh;
    margin: 10px;
    font-size: 15px;
}

.forgotBtn:hover{
    border-radius: 5px;
    border: 0;
    background-color: #008148;
}

.submitBtn:hover{
    border-radius: 5px;
    border: 0;
    background-color: #008148;
}

.loginsubmitinput{
    width: 20vh;
    margin: 10px;
    height: 5vh;
    width: 30vh;
    border-radius: 10px;
    border-width: 0;
}
.loginsubmitcontrols{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 200vh;
    height: 40vh;
}

.loginsubmitcontrols-inner{
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}