@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  font-family: "Montserrat";
}

.main-content {
  height: 94.6vh;
  background-color: #ffffff;
}

.userDataUnit {
  margin-bottom: 10px;
}