.conferenceroom {
    display: flex;
    height: 94.6vh;
    background-color: #992148;
  }
  
  .conferenceroom-main-content {
    display: flex;
    flex: 1;
    background-color:rgb(159, 159, 159);
  }
  
  .conferenceroom-video-holder {
    flex: 1;
  }
  
  .conferenceroom-button-holder {
    text-align: right;
  }
  
  .conferenceroom-sidebar {
    background-color: azure;
  }